[Unit]
Description=Alive Python test service

[Service]
ExecStart=/usr/bin/python3 /opt/alive/alive.py
Restart=always

[Install]
WantedBy=multi-user.target
